.form {
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}
